{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Reset Your Password - {{ block.super }}{% endblock %}

{% block extra_js %}
<script src="{% static 'js/passwords.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        setupPasswordValidationChecks('id_new_password1', 'id_new_password2');
    });
</script>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm border-0">
                <div class="card-header">
                    <h3 class="text-center mb-4">Reset Your Password</h3>
                </div>
                <div class="card-body">
                    <form method="post" class="p-4">
                        {% csrf_token %}

                        <!-- Password field -->
                        <div class="mb-3">
                            <label for="id_new_password1">New password:</label>
                            <input type="password" name="new_password1" id="id_new_password1" class="form-control">
                        </div>

                        <!-- Password confirmation field -->
                        <div class="mb-3">
                            <label for="id_new_password2">New password confirmation:</label>
                            <input type="password" name="new_password2" id="id_new_password2" class="form-control">
                        </div>

                        <!-- Password criteria -->
                        <ul class="validation-text">
                            <li id="length-criteria">Your password must contain at least 8 characters.</li>
                            <li id="uppercase-criteria">Your password must contain uppercase letters.</li>
                            <li id="number-criteria">Your password must contain numbers.</li>
                            <li id="special-char-criteria">Your password must contain special characters.</li>
                        </ul>

                        <button type="submit" class="btn btn-primary w-100 rounded-pill">Change my password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}