{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extra_js %}
<script src="{% static 'js/passwords.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        setupPasswordValidationChecks('id_new_password1', 'id_new_password2');
    });
</script>
{% endblock %}

{% block title %}Change Password - {{ block.super }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card form-card">
                <div class="card-header">
                    <h3 class="text-center mb-0">Change Password</h3>
                </div>
                <div class="card-body">
                    <form method="post" class="p-4">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field|add_class:'form-control' }}
                            {% for error in field.errors %}
                            <div class="invalid-feedback" style="display: block;">{{ error }}</div>
                            {% endfor %}
                        </div>
                        {% if forloop.last %}
                        <!-- New password criteria list goes here -->
                        <ul class="validation-text">
                            <li id="length-criteria" class="text-invalid">Your password must contain at least 8 characters.</li>
                            <li id="uppercase-criteria" class="text-invalid">Your password must contain uppercase letters.</li>
                            <li id="number-criteria" class="text-invalid">Your password must contain numbers.</li>
                            <li id="special-char-criteria" class="text-invalid">Your password must contain special characters.</li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                        <small id="password-match-message" class="form-text"></small>
                        <button type="submit" class="btn btn-primary w-100 rounded-pill">Change my password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
