{% extends 'base.html' %}

{% block title %}Password Changed - {{ block.super }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card form-card">
                <div class="card-header">
                    <h3 class="text-center mb-0">Password Changed</h3>
                </div>
                <div class="card-body text-center">
                    <p>Your password has been successfully changed.</p>
                    <a href="{% url 'home' %}" class="btn btn-primary rounded-pill mt-4">Return to the homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
