<!-- home.html -->

{% extends "base.html" %}

{% block title %}
Home - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container">
    <h1>Welcome to Our Site!</h1>
    <p>This is the homepage of our awesome Django application.</p>

    <!-- Add more homepage content here -->
    <div>
        <h2>Features:</h2>
        <ul>
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
        </ul>
    </div>
</div>
{% endblock content %}
